.image1 {
    content: url("./Resources/Images/0227BC38-A971-400D-9FCC-FFFEBA86A3AF.JPG")
}
.image2 {
    content: url("./Resources/Images/10ABF15D-235F-476D-A802-36B880B18133.JPG")
}
.image3 {
    content: url("./Resources/Images/1E87FA05-3538-4302-9D06-23A05B700915.JPG")
}
.image4 {
    content: url("./Resources/Images/246BD8C3-02E9-4703-8E1E-F9E11A0F3BD0.JPG")
}
.image5{
    content: url("./Resources/Images/2FD588C4-AEB3-4845-969B-B4F849330EEF.JPG")
}
.image6{
    content: url("./Resources/Images/312CE350-8EDD-4D6A-A96B-CE08ADE65DBD.JPG")
}
.image7{
    content: url("./Resources/Images/4C02338F-21DD-4DDC-9554-92314803A2D1.JPG")
}
.image8{
    content: url("./Resources/Images/4E20CCA2-CB4C-4BEB-A592-23E5E873C9ED.JPG")
}
.image9{
    content: url("./Resources/Images/5193F8BF-F085-461B-B503-C4FEECF95621.JPG")
}
.image10{
    content: url("./Resources/Images/66E44110-CBC8-402C-95C9-ED2182DCFD15.JPG")
}
.image11{
    content: url("./Resources/Images/683A4999-47F6-426F-A94B-23B42D073546.JPG")
}
.image12{
    content: url("./Resources/Images/833AAD44-903A-4A85-9B53-7D6E03B95A86.JPG")
}
.image13{
    content: url("./Resources/Images/870ABEA4-BE1C-4169-9DD5-D2F0CC268DB9.JPG")
}
.image14{
    content: url("./Resources/Images/8F54BFC9-3C7B-484C-87FC-DDE47311A931.JPG")
}
.image15{
    content: url("./Resources/Images/93A36C20-4267-4255-A73E-B4D17107BC61.JPG")
}
.image16{
    content: url("./Resources/Images/A9E79A9A-D839-43F0-BF6B-39A05208A484.JPG")
}
.image17{
    content: url("./Resources/Images/AC4C2023-752D-44C5-93C7-DBFCA6F4A818.JPG")
}
.image18{
    content: url("./Resources/Images/AE35519E-EB63-4109-8FFB-B0789D909E6D.JPG")
}
.image19{
    content: url("./Resources/Images/B55E5210-4839-486B-9020-9CBF1F0CFE8F.JPG")
}
.image20{
    content: url("./Resources/Images/D7234863-119C-444E-A696-4A2221C7DDC4.JPG")
}
.image21{
    content: url("./Resources/Images/E72D770B-156A-4BFA-983E-1EEFC95B90F0.JPG")
}
.image22{
    content: url("./Resources/Images/E8ECC6C1-4A99-43DA-9EC2-3F73C657521C.JPG")
}
.image23{
    content: url("./Resources/Images/FE76F901-6329-4D8C-A71D-08B75DBFAF37.JPG")
}